body{
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    transition: all 2s;
}
.main.is-white {
    background-color: #fff;
    transition: all 2s;
}
.intro-video{
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 1s;
}
.intro-video.active{
    opacity: 1;
    transition: all 1s;
}
.logo-button {
    z-index: 99999;
    position: absolute;
    margin: 0 auto;
    left: 1px;
    right: 1px;
    align-self: center;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: none;
    background-image: url('assets/images/nodokoa-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    animation:btnAnimation 2s infinite ease-in-out;
    cursor: pointer;
    transition: all 1s;
}
.logo-button.dance {
    animation:dancing 1s infinite ease-in-out;
}
.logo-button.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.intro-text {
    text-align: center;
    color: #000;
    opacity: 0;
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 1px;
    right: 1px;
    margin: 0 auto;
    width: 100%;
    max-width: 601px;
    min-width: 300px;
    line-height: 1.4rem;
    align-self: center;
}
.intro-text span{
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}
.intro-text.show {
    opacity: 1;
    transition: all 1s;
}

@keyframes btnAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes dancing {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.03);
    }
    75%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}